version: 2.1
workflows:
  testing:
    jobs:
      - runner-test
jobs:
  runner-test:
    machine: true
    resource_class: trchopan/raspberypi4
    steps:
      - run: echo "Hi I'm on Runners!" && sleep 30 && echo "Done!!"
